$bgcBody: #323232;
$bgcHeader: #000000;
$bgcNav: #faa11c;
$titleColor: #000000;
$bgcFooter: linear-gradient(#ffa600, #fbff00);
$bgcTitles: linear-gradient(#f18520, #e93838);
$imgBorder: #faa11c solid 5px;
$txtColor: #ffffff9c;